/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* general and background colors*/

 .container-fluid {
    background-color: blueviolet;
} 


.pink-background {
    background-color: #ee82ee;
    }

#principles {
    background-color: orange !important;

}


#best-practices {
    background-color: yellow;

}

.list-group-item {
    background-color: yellow;
    }



#resources {
    background-color: green;
}

.btn {
    background-color:green
}

.green-background {
    background-color: green;
}

body {
    background-color: lightgray;
}

/* navbar*/

.navbar-light { 
    color:white; 
    font-family: Oswald, sans-serif;
   
} 

.navbar a {
    color:white;
    
}


/* jumbotron*/

.jumbotron {
    color: white;
    text-align: center;
    font-family: Lato sans-serif;
  
    
}



/*priciples*/

#principles {
    color:grey;
    text-align: center;
    font-family: Oswald, sans-serif;
    padding-bottom: 1em;
    font-size: 28px;
   }

/*best practices*/

#best-practices {
    font-family: Oswald, sans-serif ;
    text-align: center;
    color:blue;
    padding-top: 1em;
    font-size: 28px;
    
   
}

.list-group-item {
    font-family: Oswald, sans-serif ;
    text-align: center;
    padding-bottom: 1em;
   
}
/*Footer*/

#resources {
    color:white;
font-family: Oswald, sans-serif;
text-align: center;
padding-top: 1em;
text-size:28px;} 

.general-sub {
    color:white;
    font-family: Oswald, sans-serif;
    text-align: center;
    padding-top: 1em;
    
}

.social-links {
   display:flex;
   justify-content: space-evenly;
   color:white;


}

