/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* general and background colors*/

 .container-fluid {
    background-color: blueviolet;
} 

.navbar-light { color:white; font-family: Oswald, sans-serif;

} 
.pink-background {
    background-color: #ee82ee;
}

#principles {
    background-color: orange !important;

}


#best-practices {
    background-color: yellow;

}

.list-group-item {
    background-color: yellow;
}

#resources {
    background-color: green;
}

.btn {background-color:green}

body {
    background-color: lightgray;
}





